aiobotocore==2.12.2
aiohttp==3.9.3
aioitertools==0.11.0
aiosignal==1.3.1
anyio 
argon2-cffi 
argon2-cffi-bindings 
asciitree==0.3.3
asttokens 
async-lru 
attrs==23.2.0
Babel 
bleach==6.1.0
bokeh==3.4.0
botocore==1.34.51
Bottleneck==1.3.8
Brotli 
Cartopy==0.23.0
certifi 
cffi 
cftime==1.6.3
chardet==5.2.0
charset-normalizer 
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==3.0.0
colorcet==3.1.0
comm 
contourpy==1.2.1
cycler==0.12.1
dask==2024.4.1
dask-expr==1.0.11
datashader==0.16.0
debugpy 
decorator 
defusedxml 
distributed==2024.4.1
executing 
fasteners==0.19
fastjsonschema 
fiona==1.9.6
flox==0.9.6
fonttools==4.51.0
frozenlist==1.4.1
fsspec==2024.3.1
future==1.0.0
geopandas==0.14.3
geoviews==1.12.0
h5netcdf==1.3.0
h5py==3.11.0
holoviews==1.18.3
idna==3.6
ipykernel 
ipython 
jedi 
Jinja2 
jmespath==1.0.1
json5 
jsonschema 
jsonschema-specifications 
jupyter-events 
jupyter-lsp 
jupyter_client 
jupyter_core 
jupyter_server 
jupyter_server_terminals 
jupyterlab 
jupyterlab-pygments 
jupyterlab_server 
kiwisolver==1.4.5
linkify-it-py==2.0.3
llvmlite==0.42.0
locket==1.0.0
lz4==4.3.3
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.4
matplotlib-inline 
mdit-py-plugins==0.4.0
mdurl==0.1.2
mistune 
msgpack==1.0.8
multidict==6.0.5
multipledispatch==1.0.0
nbclient 
nbconvert 
nbformat 
nest-asyncio 
netCDF4==1.6.5
notebook_shim 
numba==0.59.1
numbagg==0.8.1
numcodecs==0.12.1
numpy==1.26.4
numpy-groupies==0.10.2
numpy-indexed==0.3.7
opt-einsum==3.3.0
overrides 
packaging==24.0
pandas==2.2.1
pandocfilters 
panel==1.4.1
param==2.1.0
parso 
partd==1.4.1
pexpect 
pillow==10.3.0
platformdirs==4.2.0
pooch==1.8.1
prometheus-client 
prompt-toolkit 
psutil==5.9.8
ptyprocess 
pure-eval 
pyarrow==15.0.2
pyarrow-hotfix==0.6
pycparser 
pyct==0.5.0
Pygments 
pyparsing==3.1.2
pyproj==3.6.1
pyshp==2.3.1
PySocks 
python-dateutil 
python-json-logger 
pytz 
pyviz_comms==3.0.2
PyYAML 
pyzmq 
referencing 
requests 
rfc3339-validator 
rfc3986-validator 
rpds-py 
s3fs
scipy==1.13.0
Send2Trash 
setuptools==68.2.2
shapely==2.0.3
six 
sniffio 
sortedcontainers==2.4.0
soupsieve 
stack-data 
tblib==3.0.0
terminado 
thalassa==0.4.5
tinycss2 
toolz==0.12.1
tornado==6.4
tqdm==4.66.2
traitlets 
typing_extensions==4.11.0
tzdata==2024.1
uc-micro-py==1.0.3
urllib3==2.0.7
wcwidth 
webencodings 
websocket-client 
wheel==0.41.2
wrapt==1.16.0
xarray==2024.3.0
xyzservices==2024.4.0
yarl==1.9.4
zarr==2.17.2
zict==3.0.0
